# Python
__pycache__/
*.py[cod]

# Django
*.sqlite3
*.log

# Virtual environment
venv/
.env
# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Cache
*.cache
.cache/

staticfiles/


baza.xlsx
~$*.xlsx